$main-color: #424f67;
$second-color: #b3c8c9;
$text-color: #302f34;
$backgound-color: #f1f6ff;
$transition: 0.5s cubic-bezier(1, 0.01, 0.61, 0.84);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
a {
    color: inherit;
    text-decoration: none;
}
li {
    float: left;
    list-style: none;
}
@font-face {
    font-family: "Circular Std";
    src: url("../fonts/CircularStd-Bold.eot");
    src: local("../fonts/Circular Std Bold"), local("../fonts/CircularStd-Bold"),
        url("../fonts/CircularStd-Bold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/CircularStd-Bold.woff2") format("woff2"), url("../fonts/CircularStd-Bold.woff") format("woff"),
        url("../fonts/CircularStd-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Circular Std";
    src: url("../fonts/CircularStd-BoldItalic.eot");
    src: local("Circular Std Bold Italic"), local("CircularStd-BoldItalic"),
        url("../fonts/CircularStd-BoldItalic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/CircularStd-BoldItalic.woff2") format("woff2"),
        url("../fonts/CircularStd-BoldItalic.woff") format("woff"),
        url("../fonts/CircularStd-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Circular Std";
    src: url("../fonts/CircularStd-Book.eot");
    src: local("Circular Std Book"), local("CircularStd-Book"),
        url("../fonts/CircularStd-Book.eot?#iefix") format("embedded-opentype"),
        url("../fonts/CircularStd-Book.woff2") format("woff2"), url("../fonts/CircularStd-Book.woff") format("woff"),
        url("../fonts/CircularStd-Book.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Circular Std";
    src: url("../fonts/CircularStd-BookItalic.eot");
    src: local("Circular Std Book Italic"), local("CircularStd-BookItalic"),
        url("../fonts/CircularStd-BookItalic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/CircularStd-BookItalic.woff2") format("woff2"),
        url("../fonts/CircularStd-BookItalic.woff") format("woff"),
        url("../fonts/CircularStd-BookItalic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

body {
    font-size: 20px;
    background-color: $backgound-color;
    color: $text-color;
}

h1 {
    font-family: "Circular Std", sans-serif;
    font-weight: 700;
    font-size: 40px;
}

h2 {
    font-family: "Circular Std", sans-serif;
    font-weight: 700;
    font-size: 30px;
}

h3 {
    font-family: "Circular Std", sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.button {
    display: inline-block;
    font-family: "Circular Std", sans-serif;
    font-weight: 700;
    font-size: 30px;
    border: 3px solid $main-color;
    border-radius: 10px;
    color: $main-color;
    text-decoration: none;
    text-align: center;
    padding: 18px 40px;
    margin-top: 40px;
    background-color: transparent;
    cursor: pointer;
    &:hover {
        color: #fff;
        background-color: $main-color;
        transition: 0.3s;
    }
    &:active {
        background-color: $text-color;
    }
}

.small-button {
    border: 2px solid $main-color;
    font-size: 18px;
    padding: 11px 26px;
}

// !888888888888888888888888888888888
.header {
    background-color: rgba($color: $backgound-color, $alpha: 1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 14px;
    // min-height: 85px;
    z-index: 9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}
.header__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
// .header__logo {
// }
.logo {
    padding: 20px 0;
    font-weight: 700;
}
// .header__nav {
// }
// .menu {
// }
.menu__item {
    float: left;
    margin: 0 17px;
}
.menu__link {
    // text-transform: uppercase;
}
.header__icons {
    display: flex;
    align-items: center;
}
// .search {
// }
.search__input {
    background-image: url(../img/icons/search.svg);
    background-position: 95% center;
    background-repeat: no-repeat;
    padding: 5px 10px;
    width: 25px;
    border-radius: 50px;
    transition: $transition;
    outline: none;
    background-color: rgba(255, 255, 255, 0);
    margin-top: 3px;
    cursor: pointer;
    &:focus {
        width: 200px;
        background-color: #eaeaea;
        border-radius: 6px;
    }
}
// .wishlist-icon {
// }
// .cart-icon {
// }
.header__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    padding: 15px;
}

//! --------------- кнопка ---------------
.sub-menu-button {
    display: none;
    position: relative;
    width: 40px;
    height: 40px;
    margin: 10px 0px;
}

// .menu-button_line {
// }
.menu-button_line_top::before,
.menu-button_line_bottom::before {
    content: "";
    display: block;
    transition: 0.2s;
}
.menu-button_line_top,
.menu-button_line_bottom {
    transition: 0.3s;
    transition-delay: 0.25s;
}

.menu-button_line_top::before,
.menu-button_line_bottom::before,
.menu-button_line_middle {
    transition: 0.1s;
    margin: 0 auto;
    display: block;
    width: 26px;
    height: 2px;
    background-color: $text-color;
    position: relative;
    transition: 0.1s;
    border-radius: 5px;
    // transition: 0.5s;
}
.menu-button_line_middle {
    transition: 0.1s;
    transition-delay: 0.2s;
}
.menu-button {
    background: transparent;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    display: none;
    padding: 7px;
    &.main-menu_active {
        & .menu-button_line_top,
        & .menu-button_line_bottom {
            transition-delay: 0s;
            &::before {
                transition-delay: 0.25s;
            }
        }
        & .menu-button_line_top {
            transform: translateY(9px);
            &::before {
                transform: rotate(45deg);
            }
        }
        & .menu-button_line_bottom {
            transform: translateY(-9px);
            &::before {
                transform: rotate(-45deg);
            }
        }
        & .menu-button_line_middle {
            transform: scaleX(0);
            transition-delay: 0s;
        }
    }
}
@media all and (max-width: 1200px) {
    .menu {
        transition: 0.3s;
        position: absolute;
        left: 0;
        top: 65px;
        background: rgba($color: $backgound-color, $alpha: 1);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
        padding: 30px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        transform-origin: center top;
        transform: scaleY(0);
    }
    .menu__item {
        transition: 0.15s;
        transition-delay: 0s;
        opacity: 0;
    }
    .menu.main-menu_active {
        transform: scaleY(1);
        .menu__item {
            opacity: 1;
        }
        .menu__item_1 {
            transition-delay: 0.1s;
        }
        .menu__item_2 {
            transition-delay: 0.15s;
        }
        .menu__item_3 {
            transition-delay: 0.2s;
        }
        .menu__item_4 {
            transition-delay: 0.25s;
        }
        .menu__item_5 {
            transition-delay: 0.3s;
        }
        .menu__item_6 {
            transition-delay: 0.35s;
        }
        .menu__item_7 {
            transition-delay: 0.4s;
        }
        .menu__item_8 {
            transition-delay: 0.45s;
        }
    }

    .menu-button {
        display: flex;
    }
    .header__logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}
@media screen and (max-width: 970px) {
    .header__logo {
        position: static;
        transform: translateX(0);
    }
}
@media screen and (max-width: 850px) {
    .coaching__row {
        flex-direction: column;
        // justify-content: center;
        align-items: center;
    }
    .card {
        max-width: 500px;
        // margin: 20px auto;
    }
}
@media screen and (max-width: 800px) {
    // .header__icon {
    //     padding: 5px;
    // }
    .header {
        font-size: 16px;
    }
    .logo {
        padding: 10px;
    }
    .menu {
        // top: 85px;
        display: block;
        padding: 10px 30px 30px;
    }
    .menu__item {
        float: none;
        border-bottom: 1px solid $second-color;
        margin: 0;
        padding: 0 15px;
    }
    .menu__link {
        display: block;
        padding: 7px 0;
    }
}
// !888888888888888888888888888888888

// .header {
//     position: fixed;
//     z-index: 9;
//     top: 0;
//     left: 0;
//     width: 100%;
//     // max-height: 50px;
//     padding: 15px 0;
//     background: rgba($color: #fff, $alpha: 0.7);
//     font-size: 14px;
// }
// .container {
// }
// .header__menu {
// }
// .menu {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
// }
// .logo {
// }
// .logo__link {
//     font-weight: 700;
// }
// .menu__controllers {
//     display: flex;
//     align-items: center;
// }
// .navigation {
// }
// .navigation__item {
// }
// .navigation__link {
//     padding: 3px;
//     margin: 0 15px;
// }
// .menu__buttons {
//     display: flex;
// }
// .menu__button {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     padding: 10px;
// }
// .search {
// }
// .account {
// }
.hero {
    background: $backgound-color url(../img/hero_bg.webp);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 170px;
    // padding-bottom: 170px;
    position: relative;
}
// .section {
// }
// .container {
// }
// .hero__offer {
// }

// !0000000000000000000000000000
.hero-swiper {
    max-height: 630px;
    height: 100vh;
    overflow: hidden;
    padding: 10px;
    & .swiper-pagination-fraction {
        left: auto;
        right: 0;
        top: 58%;
    }
}
.swiper-container.hero-swiper {
    padding: 0;
}
.swiper-container-vertical > .swiper-scrollbar {
    height: 10%;
    top: 45%;
}
// !0000000000000000000000000000

.offer {
    max-width: 500px;
}
.offer__title {
    // font-size: 40px;
    color: $text-color;
    margin-bottom: 30px;
}
.offer__text {
    // font-size: 20px;
    margin-bottom: 30px;
}
.offer__subtitle {
    // font-size: 30px;
}
// .offer__button {
// }
// .button {
// }
.hero-man_img {
    position: absolute;
    bottom: 0px;
    right: 0;
    max-width: 800px;
    width: 60vw;
}
// .info {
// }
// .section {
// }
// .container {
// }
.info__content {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    // padding-bottom: 100px;
}
// .info__title {
// }
.section__title,
.section__subtitle {
    // text-align: center;
    margin: 0 auto;
}
.section__title {
    max-width: 550px;
    margin-top: 80px;
    margin-bottom: 30px;
    text-align: center;
}
// .info__subtitle {
// }

.section__subtitle {
    margin-bottom: 15px;
}
.info__text {
    text-align: left;
}
// .info__button {
//     // margin: 0 auto;
// }

.coaching {
    background-color: #21252d;
    background-image: url(../img/coaching_bg.webp);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 80px 0;
    margin-top: 100px;
}
// .section {
// }
// .container {
// }
.coaching__row {
    display: flex;
    // flex-wrap: wrap;
    // margin: 0 15px;
    max-width: 1000px;
    margin: 0 auto;
}
// .offset-xl-1 {
// }
// .col-xl-5 {
// }
.card {
    background-color: $backgound-color;
    border-radius: 15px;
    margin: 20px;
}
.card__link {
    padding: 60px 40px;
}
.card__title {
    font-size: 30px;
}

// .review {
// }
// .swiper-slide {
// }
// .slide {
// }
// .col-xl-4 {
// }
.slide__img {
    background-color: $text-color;
    position: relative;
    margin-bottom: 20px;
    border-radius: 30px 5px;
    overflow: hidden;
    height: 350px;
    & img,
    svg {
        position: absolute;
        top: -5%;
        left: -5%;
        width: 110%;
        height: 110%;
        object-fit: cover;
    }
}
.slide__info {
    padding: 10px;
}
// .slide__title {
// }
// .slide__caption {
// }
// .slide__text {
// }
// .slide__link {
// }

.swiper-container {
    padding-bottom: 50px;
    & .swiper-wrapper {
        padding: 0;
    }
}
.swiper-container-horizontal > .swiper-scrollbar {
    width: 10%;
    // bottom: -50px;
    left: 45%;
    background-color: rgba($color: $text-color, $alpha: 0.4);
}
.swiper-scrollbar-drag {
    // width: 50%;
    background-color: $text-color;
    border-radius: 0;
}
.swiper-pagination-fraction {
    bottom: -7px;
    left: 40%;
    width: fit-content;
}
.section-slider__buttons {
    width: fit-content;
    margin: 0 auto;
    & .button_fill {
        margin-right: 35px;
    }
}

// !999999999999999999
.review-button-block {
    text-align: center;
}

/* CONTENT END */

/* FOOTER */

footer {
    margin-top: 100px;
    background-color: $text-color;
    color: #fff;
    min-height: 400px;

    .content {
        padding: 80px 0;
    }

    .footer-title {
        font-size: 14px;
        font-weight: 700;
    }

    a:hover {
        color: $second-color;
    }

    h3 {
        margin: 20px 0;
    }

    .footer-p {
        font-size: 14px;
    }

    .footer-link-more {
        text-decoration: underline;
        font-size: 14px;
        font-weight: 700;
    }

    .footer-input-form {
        background-color: transparent;
        border-bottom: 1px solid #fff;
        font-size: 14px;
        padding: 10px 3px;
        width: 80%;
        margin-top: 15px;
        color: #fff;

        &:focus {
            outline: none;
        }
    }

    .video-youtube {
        iframe {
            border-radius: 10px;
        }

        margin: 30px 0;
    }

    .society {
        display: flex;
        justify-content: space-between;

        div {
            height: 40px;
            width: 40px;
            background-color: red;
            border-radius: 50%;
            text-align: center;
        }

        .icon-society {
            display: flex;
            height: 40px;
            width: 40px;
            padding: 9px;
            background-color: #424245;
            text-align: center;
            border-radius: 50%;
            transition: 0.2s;

            img:hover {
                transition: 0.2s;
            }

            &:hover {
                transition: 0.2s;
            }
        }

        #inst {
            position: relative;

            &:hover {
                &::after {
                    opacity: 1;
                }
            }

            img {
                z-index: 100;
            }
        }

        #inst::after {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
            transition: 0.2s;
            border-radius: 50%;
            background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%),
                radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
                radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
                radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),
                radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
                radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),
                radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
                linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
        }

        // #inst:hover {
        //     background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),
        //         radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
        //     transition: 2s;
        //     }

        #vk:hover {
            background-color: #2787f5;
        }

        #twitter:hover {
            background-color: #2787f5;
        }

        #twitter:hover {
            background-color: #00aced;
        }

        #youtube:hover {
            background-color: #ff0100;
        }

        #facebook:hover {
            background-color: #4267b2;
        }

        #livejournal:hover {
            background-color: #00a8e1;
        }
    }

    .footer-button-block {
        text-align: center;
    }

    .footer-button {
        border: 2px solid #fff;
        border-radius: 5px;
        font-size: 14px;
        color: #fff;
        padding: 9px 20px;
        margin-top: 30px;

        &:hover {
            background-color: #fff;
            color: $text-color;
        }
    }
}

/* FOOTER  END*/

/* MEDIA */

@media screen and (max-width: 992px) {
    footer {
        .society {
            .icon-society {
                display: flex;
                height: 30px;
                width: 30px;
                padding: 5px;
            }
        }
    }

    @media screen and (max-width: 768px) {
        h1 {
            font-size: 30px;
        }

        h2 {
            font-size: 22px;
        }

        h3 {
            font-size: 14px;
        }

        p {
            font-size: 16px;
        }

        .button {
            font-size: 30px;
            border: 3px solid $main-color;
            border-radius: 10px;
            padding: 18px 40px;
            margin-top: 40px;
            cursor: pointer;
            &:hover {
                color: #fff;
                background-color: $main-color;
                transition: 0.3s;
            }
            &:active {
                background-color: $text-color;
            }
        }

        .small-button {
            border: 2px solid $main-color;
            font-size: 18px;
            padding: 11px 26px;
        }
        .hero-swiper {
            height: 370px;
        }
    }
    @media screen and (max-width: 635px) {
        .hero {
            padding-top: 120px;
        }
        .hero-man_img {
            display: none;
        }
    }
    @media screen and (max-width: 550px) {
        .card__link {
            padding: 40px;
        }
    }

    @media screen and (max-width: 425px) {
        h1 {
            font-size: 22px;
        }

        h2 {
            font-size: 16px;
        }

        h3 {
            font-size: 12px;
        }

        p {
            font-size: 12px;
        }

        .button {
            display: inline-block;
            font-family: "Circular Std", sans-serif;
            font-weight: 700;
            font-size: 30px;
            border: 3px solid $main-color;
            border-radius: 10px;
            color: $main-color;
            text-decoration: none;
            text-align: center;
            padding: 18px 40px;
            margin-top: 40px;
            background-color: transparent;
            cursor: pointer;
            &:hover {
                color: #fff;
                background-color: $main-color;
                transition: 0.3s;
            }
            &:active {
                background-color: $text-color;
            }
        }

        .small-button {
            border: 2px solid $main-color;
            font-size: 18px;
            padding: 11px 26px;
        }

        .review-button-block {
            text-align: center;
        }
    }
}
